{%- set options = (options is defined ? options : []) %}
{%- set value = (value is defined ? value : null) %}
{%- set hasOptgroups = false -%}

<div id="{{ name }}" class="supercoolfields-colours">

  <select{%- if name is defined %} name="{{ name }}"{% endif %}>
    {% for key, option in options %}
      {% set optionLabel = (option.label is defined ? option.label : option) %}
      {% set optionValue = (option.value is defined ? option.value : key) %}
      {% set optionDisabled = (option.disabled is defined ? option.disabled : false) %}
      <option value="{{ optionValue }}"{% if optionValue == value %} selected{% endif %}{% if optionDisabled %} disabled{% endif %}>{{ optionLabel }}</option>
    {% endfor %}
  </select>


  {% for key, option in options %}
    {% set optionLabel = (option.label is defined ? option.label : option) %}
    {% set optionValue = (option.value is defined ? option.value : key) %}
    {% set optionHex = (option.hexCode is defined ? option.hexCode : key) %}
    {% if optionValue == value %}
      <a class="btn" role="button">
        <div class="supercoolfields-colours__block" style="background:{{ optionHex }};"></div>
        <div class="supercoolfields-colours__label">{{ optionLabel }}</div>
      </a>
    {% endif %}
  {% endfor %}


  <div class="menu" data-align="right">
    <ul class="padded">
    {% for key, option in options %}
      {% set optionLabel = (option.label is defined ? option.label : option) %}
      {% set optionValue = (option.value is defined ? option.value : key) %}
      {% set optionHex = (option.hexCode is defined ? option.hexCode : key) %}
      <li>
        <a{% if optionValue == value %} class="sel"{% endif %} role="button" data-sc-value="{{ optionValue }}">
          <div class="supercoolfields-colours__block" style="background:{{ optionHex }};"></div>
          <div class="supercoolfields-colours__label">{{ optionLabel }}</div>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>

</div>
