{% import "_includes/forms" as forms %}

{{ forms.textField({
  label: "The total number of columns your grid has"|t,
  id: 'totalColumns',
  name: 'totalColumns',
  value: settings.totalColumns,
  errors: settings.getErrors('totalColumns'),
  required: true,
  size : 2
}) }}

{{ forms.textField({
  label: "The number of columns each option will cover"|t,
  id: 'gridSize',
  name: 'gridSize',
  value: settings.gridSize,
  errors: settings.getErrors('gridSize'),
  required: true,
  size : 2
}) }}
