{%- set options = (options is defined ? options : []) %}
{%- set value = (value is defined ? value : null) %}

<div id="{{ name }}" class="buttonbox-buttons{% if displayAsGraphic %}  buttonbox-buttons--graphical{% endif %}{% if displayFullwidth %}  fullwidth{% endif %}  btngroup">

  {% for key, option in options %}
    {% set optionLabel = (option.label is defined ? option.label : option) %}
    {% set optionValue = (option.value is defined ? option.value : key) %}
    {% set optionDisabled = (option.disabled is defined ? option.disabled : false) %}
    <label class="btn  big{% if optionValue == value %} active{% endif %}">
      <input type="radio" name="{{ name }}" value="{{ optionValue }}"{% if optionValue == value %} checked="checked"{% endif %}{% if optionDisabled %} disabled{% endif %}>
      {% if option.imageUrl %}<img src="{{ option.imageUrl }}"{% if option.showLabel %} class="buttonbox-buttons__with-label"{% endif %} {% if not option.showLabel %} title="{{ optionLabel }}"{% endif %} />{% endif %}
      {% if option.imageUrl and option.showLabel %}&nbsp;{% endif %}
      {% if option.showLabel %}<span class="buttonbox-buttons__label">{{ optionLabel }}</span>{% endif %}
    </label>
  {% endfor %}

</div>
