.supercoolfields-colours select { display: none; }

.supercoolfields-colours__btn { display: block; color: #C2C4C5; }
.supercoolfields-colours__btn:hover { text-decoration: none; }
.supercoolfields-colours__btn:hover .supercoolfields-colours__label { color: #0d78f2; }

.supercoolfields-colours__block {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 2px solid #ffffff;

  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 0 18px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 18px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 18px -2px rgba(0, 0, 0, 0.1);
}

.supercoolfields-colours__label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  padding-top: 2px;
  font-size: 13px;
}

.supercoolfields-colours__menu {
  left: -24px;
  top: 9px;
}

.supercoolfields-colours__menu a:before {
  margin-top: 5px !important;
}

.supercoolfields-colours__menu ul.padded {
  padding-top: 6px;
  padding-bottom: 6px;
}
