.supercoolfields-oembed {
  position: relative;
}
.supercoolfields-oembed .spinner {
  position: absolute;
  top: 0;
  right: 0;
}
.supercoolfields-oembed .error {
  position: absolute;
  top: 6px;
  right: 6px;
}

.supercoolfields-oembed-preview {
  margin-top: 15px;
}

/* force the content to be fluid */
.supercoolfields-oembed-preview .oembed > * {
  display: block;
  width: 100% !important;
}

/* tweets */
.supercoolfields-oembed-preview .oembed--twitter > * {}

/* videos, assume they are all 16:9 */
.supercoolfields-oembed-preview .oembed--youtube,
.supercoolfields-oembed-preview .oembed--vimeo {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  height: 0;
}
.supercoolfields-oembed-preview .oembed--youtube > *,
.supercoolfields-oembed-preview .oembed--vimeo > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
