.supercoolfields-stars:not(:checked) input {
  position: absolute;
  left: -9999px;
  clip: rect(0,0,0,0);
}

.supercoolfields-stars:not(:checked) label {
  float: left;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1.2;
  color: #ddd;
}
.supercoolfields-stars:not(:checked) label:before { content: '★ '; }

.supercoolfields-stars label.supercoolfields-hovers-active { color: #6DA8D9; }
.supercoolfields-stars label.supercoolfields-hovers-hover { color: #333; }
